.example-card 
    width: 300px
    height: 280px
    margin: 10px

.bodyContainer
    background-repeat: no-repeat    
    width : 200px
    height: 369px

img
    position: absolute 

.grid-container 
  display: flex
  flex-wrap: wrap
  width: 80%
  margin: auto
  margin-top: 10px
  box-shadow:0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f
  padding: 3rem
  justify-content: space-between
.images
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
    justify-content: space-around
    box-shadow:0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f
    border-radius: 4px
    width: 80%
    margin: auto
    margin-top: 20px
    h2
        text-align: center

ol
    vertical-align: top
    display: inline-block

.image
     display: inline-block


